# Ejercicos word Capitulo 5
- A Realizar todos los ejercicios propuestos de libro (excepto los de hive en caso de utilizar spark instalado en local y en el caso de RDBMS hacer únicamente ejemplo especificado más adelante)
- B Pros y Cons utilizar UDFs
- C Instalar MySQL, descargar driver y cargar datos de BBDD de empleados https://dev.mysql.com/doc/employee/en/ 
  - C.1 Cargar con spark datos de empleados y departamentos
  - C.2 Mediante Joins mostrar toda la información de los empleados además de su título y salario.
  - C.3 Diferencia entre Rank y dense_rank (operaciones de ventana) 
  
  ##### Siempre debemos iniciar una instancia SparkSession al principio. 

Por lo que antes de comenzar crearemos la SparkSession correspondiente:

In [1]:
import pyspark
from pyspark.sql import SparkSession

# Creamos SparkSession
spark = SparkSession \
        .builder \
        .appName('Ejs_Word_cap5') \
        .master('local[*]') \
        .config("spark.driver.extraClassPath", "C:/spark/jars/mysql-connector-java-8.0.23.jar") \
        .getOrCreate()

### B. Pros y Cons utilizar UDFs

Las UDFs son funciones creadas o definidas por el propio usuario, sirviendo de sistema para definir metodos SQL para operar sobre las columnas de un DF o Tabla. Se usan para definir una nueva columna basada en una función que extiende el vocabilario de SparkSQL para transformas DFo DS. Las UDFs se operan por sesión y no se guardan en el metastore.

En cuanto a los Pros:
- Se pueden utilizar por otros usuarios
- No es necesario entender 100% su funcionamiento interno para su uso
- Operan por cada SparkSession y no se guardan en el metastore 

En cuanto a los contras:
- Su rendimiento es inferior en Python (Esto se resuelve usando Pandas/Vectorized UDFs) que en Scala o Java.
- Spark SQL no puede optimizarlas
- No garantiza el orden de evaluación de las subexpresiones/querys.

### C Instalar MySQL, descargar driver y cargar datos de BBDD de empleados 

Para importar la bbdd hay que descargarla de https://github.com/Lism2992/MySQL-Employee-Database-Fix y seguidamente, desde la consola de mysql, lanzar el siguiente comando:

SOURCE PATH/employees.sql

Siendo PATH la ruta donde tienes descargado el archivo

In [ ]:
# Cargar un DF desde una fuente MySQL con el conector JBDC EJEMPLO NO LANZAR
jdbcDF = ( spark.read
                .format("jdbc")
                .option("url", "jdbc:mysql://[DBSERVER]:3306/[DATABASE]")
                .option("driver", "com.mysql.jdbc.Driver")
                .option("dbtable", "[TABLENAME]")
                .option("root", "[USERNAME]")
                .option("password", "[PASSWORD]")
                .load() )
127.0.0.1 3306

In [3]:
# Guardar DF a una bbdd MySQL con conector JDBC 
( jdbcDF.write
        .format("jdbc")
        .option("url", "jdbc:mysql://[DBSERVER]:3306/[DATABASE]")
        .option("driver", "com.mysql.jdbc.Driver")
        .option("dbtable", "[TABLENAME]")
        .option("user", "[USERNAME]")
        .option("password", "[PASSWORD]")
        .save() )

#### C.1 Cargar con spark datos de empleados y departamentos

In [6]:
# Cargamos DF tabla departments
departmentsDF = ( spark.read
      .format("jdbc")
      .option("url","jdbc:mysql://localhost/employees")
      .option("driver","com.mysql.jdbc.Driver")
      .option("dbtable","departments")
      .option("user","root")
      .option("password","root")
      .load() )
departmentsDF.show()

# Creamos vista temp
departmentsDF.createOrReplaceTempView("employees")

+-------+------------------+
|dept_no|         dept_name|
+-------+------------------+
|   d009|  Customer Service|
|   d005|       Development|
|   d002|           Finance|
|   d003|   Human Resources|
|   d001|         Marketing|
|   d004|        Production|
|   d006|Quality Management|
|   d008|          Research|
|   d007|             Sales|
+-------+------------------+

In [24]:
# Cargamos DF tabla employees
employeesDF = ( spark.read
      .format("jdbc")
      .option("url","jdbc:mysql://localhost/employees")
      .option("driver","com.mysql.jdbc.Driver")
      .option("dbtable","employees")
      .option("user","root")
      .option("password","root")
      .load() )

# Mostramos con un print el numero de lineas
print("Total Rows = %d" % (employeesDF.count()))
employeesDF.show(5)

Total Rows = 300024
+------+----------+----------+---------+------+----------+
|emp_no|birth_date|first_name|last_name|gender| hire_date|
+------+----------+----------+---------+------+----------+
| 10001|1953-09-02|    Georgi|  Facello|     M|1986-06-26|
| 10002|1964-06-02|   Bezalel|   Simmel|     F|1985-11-21|
| 10003|1959-12-03|     Parto|  Bamford|     M|1986-08-28|
| 10004|1954-05-01| Chirstian|  Koblick|     M|1986-12-01|
| 10005|1955-01-21|   Kyoichi| Maliniak|     M|1989-09-12|
+------+----------+----------+---------+------+----------+
only showing top 5 rows

In [26]:
# Cargamos DF tabla salaries
salariesDF = ( spark.read
      .format("jdbc")
      .option("url","jdbc:mysql://localhost/employees")
      .option("driver","com.mysql.jdbc.Driver")
      .option("dbtable","salaries")
      .option("user","root")
      .option("password","root")
      .load() )

# Mostramos con un print el numero de lineas
print("Total Rows = %d" % (salariesDF.count()))
salariesDF.show(5)

Total Rows = 2844047
+------+------+----------+----------+
|emp_no|salary| from_date|   to_date|
+------+------+----------+----------+
| 10001| 60117|1986-06-26|1987-06-26|
| 10001| 62102|1987-06-26|1988-06-25|
| 10001| 66074|1988-06-25|1989-06-25|
| 10001| 66596|1989-06-25|1990-06-25|
| 10001| 66961|1990-06-25|1991-06-25|
+------+------+----------+----------+
only showing top 5 rows

In [22]:
# Cargamos DF tabla titles
titlesDF = ( spark.read
      .format("jdbc")
      .option("url","jdbc:mysql://localhost/employees")
      .option("driver","com.mysql.jdbc.Driver")
      .option("dbtable","titles")
      .option("user","root")
      .option("password","root")
      .load() )

# Mostramos con un print el numero de lineas
print("Total Rows = %d" % (titlesDF.count()))
titlesDF.show(10)

Total Rows = 443308
+------+---------------+----------+----------+
|emp_no|          title| from_date|   to_date|
+------+---------------+----------+----------+
| 10001|Senior Engineer|1986-06-26|9999-01-01|
| 10002|          Staff|1996-08-03|9999-01-01|
| 10003|Senior Engineer|1995-12-03|9999-01-01|
| 10004|       Engineer|1986-12-01|1995-12-01|
| 10004|Senior Engineer|1995-12-01|9999-01-01|
| 10005|   Senior Staff|1996-09-12|9999-01-01|
| 10005|          Staff|1989-09-12|1996-09-12|
| 10006|Senior Engineer|1990-08-05|9999-01-01|
| 10007|   Senior Staff|1996-02-11|9999-01-01|
| 10007|          Staff|1989-02-10|1996-02-11|
+------+---------------+----------+----------+
only showing top 10 rows

In [27]:
# Creamos las respectivas vistas temporales para poder usar SQLpuro
employeesDF.createOrReplaceTempView("employees")
salariesDF.createOrReplaceTempView("salaries")
titlesDF.createOrReplaceTempView("titles")

#### C.2 Mediante Joins mostrar toda la información de los empleados además de su título y salario.

tabla employees entera + tabla salaries (salary) + tabla titles (titles)

In [55]:
# Lenguaje SQLpuro
spark.sql( """SELECT A.emp_no, 
                     A.birth_date, 
                     concat(A.first_name, ' ', A.last_name) as Name, 
                     A.gender,
                     B.salary,
                     C.title
              FROM employees AS A
              JOIN salaries AS B
              ON A.emp_no = B.emp_no
              JOIN titles AS C
              ON A.emp_no = C.emp_no
             """ ).show(5)

+------+----------+----------------+------+------+----------------+
|emp_no|birth_date|            Name|gender|salary|           title|
+------+----------+----------------+------+------+----------------+
| 10206|1960-09-19|Alassane Iwayama|     F| 40000|Technique Leader|
| 10206|1960-09-19|Alassane Iwayama|     F| 43519|Technique Leader|
| 10206|1960-09-19|Alassane Iwayama|     F| 46265|Technique Leader|
| 10206|1960-09-19|Alassane Iwayama|     F| 46865|Technique Leader|
| 10206|1960-09-19|Alassane Iwayama|     F| 47837|Technique Leader|
+------+----------+----------------+------+------+----------------+
only showing top 5 rows

In [56]:
# Leguaje Api DF
( employeesDF.join(salariesDF, employeesDF.emp_no == salariesDF.emp_no)
             .join(titlesDF, salariesDF.emp_no == titlesDF.emp_no)
             .select(employeesDF.emp_no, "birth_date", "first_name", "last_name", "gender", "salary", "title")
             .show(5) )

+------+----------+----------+---------+------+------+----------------+
|emp_no|birth_date|first_name|last_name|gender|salary|           title|
+------+----------+----------+---------+------+------+----------------+
| 10206|1960-09-19|  Alassane|  Iwayama|     F| 40000|Technique Leader|
| 10206|1960-09-19|  Alassane|  Iwayama|     F| 43519|Technique Leader|
| 10206|1960-09-19|  Alassane|  Iwayama|     F| 46265|Technique Leader|
| 10206|1960-09-19|  Alassane|  Iwayama|     F| 46865|Technique Leader|
| 10206|1960-09-19|  Alassane|  Iwayama|     F| 47837|Technique Leader|
+------+----------+----------+---------+------+------+----------------+
only showing top 5 rows

#### C.3 Diferencia entre Rank y dense_rank (operaciones de ventana)

**Rank** realiza una clasificación o ranking dentro de su partición ordenada, en el caso de empates, se les asigna el mismo rango y se omiten los rangos siguientes. 
Ejemplo si tiene 3 elementos con rango 2, el siguiente listado seria el rango 5

**Dense_rank** realiza una clasificación o ranking de dentro de su partición ordenada, pero los rangos se aplican de manera consecutiva, sin salartse ningun rango si hay rangos con varios elementos.

Para el caso de valores nulos, dependen de la cláusula GROUP BY

In [60]:
# Ej mostramos los 5 empleados con más salario con rank
spark.sql( """SELECT A.emp_no, concat(A.first_name, ' ', A.last_name) as Name, B. salary,
                     rank() over (ORDER BY B.salary DESC) AS Rank
              FROM employees AS A
              JOIN salaries AS B
              ON A.emp_no = B.emp_no """ ).show(5)

+------+-----------------+------+----+
|emp_no|             Name|salary|Rank|
+------+-----------------+------+----+
| 43624|   Tokuyasu Pesch|158220|   1|
| 43624|   Tokuyasu Pesch|157821|   2|
|254466|Honesty Mukaidono|156286|   3|
| 47978|  Xiahua Whitcomb|155709|   4|
|253939|    Sanjai Luders|155513|   5|
+------+-----------------+------+----+
only showing top 5 rows

In [61]:
# Ej mostramos los 5 empleados con más salario con dense_rank
spark.sql( """SELECT A.emp_no, concat(A.first_name, ' ', A.last_name) as Name, B. salary,
                     dense_rank() over (ORDER BY B.salary DESC) AS Dense_Rank
              FROM employees AS A
              JOIN salaries AS B
              ON A.emp_no = B.emp_no """ ).show(5)

+------+-----------------+------+----------+
|emp_no|             Name|salary|Dense_Rank|
+------+-----------------+------+----------+
| 43624|   Tokuyasu Pesch|158220|         1|
| 43624|   Tokuyasu Pesch|157821|         2|
|254466|Honesty Mukaidono|156286|         3|
| 47978|  Xiahua Whitcomb|155709|         4|
|253939|    Sanjai Luders|155513|         5|
+------+-----------------+------+----------+
only showing top 5 rows

In [62]:
spark.stop()